.divRobocupConteudo {
  width: 40%;
  border: 1px solid #ffff7e;
  padding: 30px;
}

.aLinkMaisInformacoes {
  color: yellow;
  text-decoration: none;
  display: flex;
  justify-content: right;
}

.aLinkMaisInformacoes:hover {
  color: yellow;
  text-decoration: none;
  opacity: 0.5;
  transition: 0.2s linear;
}

.divMainFooterIndex {
  text-align: justify;
}

.divBannerImgConteudo {
  width: 50%;
}

.divRobocup {
  width: 50%;
  padding: 30px;
}

.divRobocupPrimeiraBoxImg img {
  width: 80%;
}

#style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  background-color: #000000;
}

/* COMEÇO DAS MEDIAS QUERIES */

@media only screen and (max-width: 1400px) {
  .divRobocupImagemConteudo {
    display: flex;
    flex-direction: column;
  }

  .divRobocupConteudo {
    width: 100%;
    margin: 10px auto;
  }

  .divIntegrantesImagemConteudo {
    display: flex;
    flex-direction: column;
  }

  .divMainFooterIndex div h3 {
    font-size: 16px;
  }
  .divMainFooterIndex div p {
    font-size: 14px;
  }

  .divBannerImagemIndex {
    display: flex;
    flex-direction: column;
  }
  .divBannerImagemIndex div {
    width: 100%;
  }

  .divRobocupPrimeiraBoxImg img {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .divRobocupConteudo h1 {
    font-size: 14px;
  }

  .divRobocupConteudo span {
    font-size: 11px;
  }

  .divRobocupConteudo p {
    font-size: 12px;
  }

  .divDisplayFlexIntegrantes {
    display: flex;
    flex-direction: column;
  }

  .divDisplayFlexIntegrantes h5 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 800px) {
  .footerIndex {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .divRobocupPrimeiraBoxImg img {
    display: none !important;
  }

  .divRobocupPrimeiraBoxImg {
    display: none !important;
  }

  .divRobocup {
    width: 100%;
  }

  .divRobocup h4 {
    font-size: 14px;
  }

  .divRobocup h2 {
    font-size: 14px;
    font-weight: bold;
  }

  .divRobocup p {
    font-size: 12px;
  }
}
