body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(to bottom, #22202c, #402845);
  min-height: 100vh;
  height: 100%;
  position: relative;
  color: white;
  border: none;
  outline: none;
}

nav div ul li {
  margin: 0 20px;
}

p {
  font-size: 15px;
}
